body {
   margin: 0;

   background: url("../img/16.png");



    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;

}

.card0 {
    width: 1433px;
    margin: 30px auto;
    padding: 50px;
    height: 2155px;
    display: block;
    background-color: #fff;
    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px
}

.card1 {
    width: 600px;
    height: 600px;

    margin: 0 -1.5%;

    padding: 30px;
    position: relative;
    top: 0%;



    background-color: #fff;
    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px



}

.card2 {

    width: 120%;
    height: 30%;
    margin: 0 110.5%;

    padding: 30px;
    position: relative;
    top: -108%;


    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px


}


.card3 {

    width: 118%;
    height: 165%;
    margin: 0 110.2%;

    padding: 36px;
    position: relative;
    top: -102.3%;


    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px
}

.card4 {

    width: 98%;
    height: 175%;
    margin: 0 -4.8%;

    padding: 36px;
    position: relative;
    top: -209%;


    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px
}

.card5 {

    width: 50%;
    height: 30%;
    margin: 0 -4.8%;

    padding: 36px;
    position: relative;
    top: -564%;


    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px
}

.card6 {

    width: 50%;
    height: 30%;
    margin: 0 179%;

    padding: 36px;
    position: relative;
    top: -606%;


    box-shadow: 0 5px 15px #ccc;
    border-radius: 30px
}


.card-photo {
    display: block;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20%;
    }

.card-title{
    font-size: 25px;
    text-align: center;
    color: #432c45

}
.card-list {
    padding-left: 0;
    list-style-position: inside;

}

.card-photo2 {

    display: block;
    width: 600px;
    height: 500px;
    margin: +10% ;
    top: +69%;
    border-radius: 20%;


    }

    
